extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
  style(type="text/css").
    .blogItem-info{
        margin-bottom:20px;
    }
block content
    div.container
        div.main
            div.div-box.min-height
                h1.title-article #{blog[0].title}
                div.blogItem
                    div.blogItem-info
                        a.author.textInfo(href='/user/'+blog[0].author target="_blank") #{blog[0].author}&nbsp;
                        span.summary #{blog[0].createtime}
                        div
                            span.summary 标签：
                            //- 展示博客对应的标签
                            each blogTagItem in blogTag
                                -if(blog[0].id==blogTagItem.id)
                                    span.blogTagItem #{blogTagItem.tagTitle}
                    div.blogItem-content
                        p.text #{blog[0].content}
