link(rel='stylesheet', href='/stylesheets/header.css')
div.header-container.box-shadow
    div.container-title
        div.header-logo-container
            h1.title1(onclick="javascript:window.location.href='/'") 博客
        div.header-nav-container
            a(href='/plan' ) 计划
            a(href='/study' ) 学习
                a(href='/frontEnd' ) 前端
                a(href='/backEnd' ) 后端
                a(href='/product' ) 产品
                a(href='/design' ) 设计
            a(href='/read' ) 读书
                a(href='/miscellaneousNotes' ) 杂记
                a(href='/computer' ) 计算机基础
                a(href='/JavaScript' ) JavaScript高级程序设计（第3版）
            a(href='/introduce' ) 介绍
                a(href='/resume' ) 简历
                a(href='/postAnalysis' ) 岗位分析、自我提升规划
            a(href='/urlNavigation' ) 网址导航（都可编辑）
                a(href='/technology' ) 技术
            a.btnImportant-1(href='/admin' target='_blank') 创作中心
        div.header-btn-container
            -if(currentUserName)
                input(style='display:none;').currentUserName(value=currentUserName)
                p.loginusername #{currentUserName}
                div.loginhide.box-shadow
                    input.logoutbtn(type="submit" value="退出登录" )
            -else
                a.register() 注册 &nbsp;&nbsp;
                a.login() 登录
        //- p.loginusername
        //-  <!-- 退出登录 -->
        //- div.loginhide.box-shadow
        //-     input.logoutbtn(type="submit" value="退出登录" )
    
-if(isMobileOrPC=='Mobile')
    script(src='/javascripts/mobile/common/zepto.js')
-else
    script(src="/javascripts/jquery.js")
script.
    $(document).ready(function(){
        var currentUserName=$('.currentUserName').val()
        console.log('currentUserName:',currentUserName)
        //- 初始状态
        $(".loginusername").hide();
        //- if(document.cookie){
        //- //- console.log("getCookiename:",getCookie("name"));
        //-     $(".login").hide();
        //-     //- $(".loginusername").html(getCookie("name2")).show();
        //-     console.log('currentUserName2:',currentUserName)
        //-     $(".loginusername").html(currentUserName).show();
        //- }
        if(currentUserName){
            $(".login").hide();
            $(".register").hide();
            $(".loginusername").show();
        }

        // 定义取cookie函数
        function getCookie(name){
            var strcookie = document.cookie;//获取cookie字符串
            console.log("strcookie:",strcookie)
            var arrcookie = strcookie.split("; ");//分割
            console.log("arrcookie:",arrcookie)
            //遍历匹配
            for ( var i = 0; i < arrcookie.length; i++) {
                var arr = arrcookie[i].split("=");
                console.log("arr"+i+":",arr)
                // console.log("arr.length"+i+":",arr.length)
                if (arr[0] == name){
                    return arr[1];
                }
            }
            return "";
        }
        //删除cookie
        function deleteCookie(name){ 
            var date=new Date(); 
            date.setTime(date.getTime()-10000); 
            document.cookie=name+"=v; expires="+date.toGMTString(); 
        }
        // 调用设置cookie、取cookie函数
        //- setCookie("name","name1","1")
        //- setCookie("name2","value2")
        console.log("document.cookie:",document.cookie)
        // 将cookie记录在浏览器中
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/;";
        }

        //-交互
        $(".loginusername").mouseover(function(){
            $('.loginhide').show();
        })
        $(".loginusername").mouseout(function(){
            $('.loginhide').hide();
        })
        $(".loginhide").mouseover(function(){
            $('.loginhide').show();
        })
        $(".loginhide").mouseout(function(){
            $('.loginhide').hide();
        })
        $(".logoutbtn").click(function(){
            //- deleteCookie('name');
            $.post("/logout",{},function(data){
                if(data.code==200){
                    alert(data.successText)
                    location.reload();
                }
            })
        }) 
        $(".login").click(function(){
            //- var backurl=req.originalUrl;
            backurl = window.location.pathname;
            //- alert(url);
            //- backurl = url.substring(url.lastIndexOf('/') + 1, url.length);
            //- alert(backurl);
            window.location.href='/login?backurl='+backurl;
        }) 
        $(".register").click(function(){
            //- var backurl=req.originalUrl;
            backurl = window.location.pathname;
            //- alert(url);
            //- backurl = url.substring(url.lastIndexOf('/') + 1, url.length);
            //- alert(backurl);
            window.location.href='/register?backurl='+backurl;
        }) 
    })
