style(type="text/css").
    .tagList{
        width: 300px;
    }
    .tagTitle{
        display:inline-block;
    }
    .tagCount{
        display:inline-block;
        float:right;
    }
div.tagList.div-box
    p.title 标签列表
    div
        a.tagTitle(target='_self' href=path class=tagidCode?'':'active-a') 全部
        span.tagCount.summary #{blogListCount}篇
        each tag in tagList
            div
                a.tagTitle(target='_self' href='?tagidCode='+tag.id class=tagidCode==tag.id?'active-a':'') #{tag.title}
                each countTagItem in countTagId
                    -if(tag.id==countTagItem.tagId)
                        span.tagCount.summary #{countTagItem.tagCount}篇
                //- a(href='/admin/editTag/'+tag.id) 编辑
                //- |&nbsp;
                //- a(href='/admin/createTag') 添加
                //- |&nbsp;
                //- a(href='/admin/deleteTag/'+tag.id) 删除
            