each blog in blogList
    -if(blog)
        div.blogItem.div-item
            a.title.overhidden1(href='/blog/detail/'+blog.id target="_blank") #{blog.title}
            //- 展示博客对应的标签
            each blogTagItem in blogTag
                -if(blog.id==blogTagItem.id)
                    span.blogTagItem #{blogTagItem.tagTitle}
            div.blogItem-info
                p.text.overhidden2 #{blog.content}
                a.author.textInfo(href='/user/'+blog.author target="_blank") #{blog.author}&nbsp;
                span.summary #{blog.createtime}
    -else
        include ./noList.pug